    /*
        Deklarasi variable warna (CSS3)
    */
    :root {
        --bg-black: #272727;
        --bg-black1: #5e6373;
        --bg-green: #00af82;
        --bg-green1: #43a48c;
        --bg-grey: #f7f9fa;
    }
    
    /* 
        Set jenis font dan bg color pada body
    */
    body {
        font-family: 'B612', sans-serif;
        background-color: white;
        padding-bottom:0;
    }

    /*
        Set bg color pada navbar
    */
    .navbar-gun {
        background-color: var(--bg-green);
    }


    /*
        Background Pattern
        ====================
    */
    .bg-vector1 {
        background-image: url("../../assets/images/patterns/bg-vector1.svg");
        background-size: cover;
        background-position: 1em;
    }
    .bg-vector3 {
        background-color: #77aa77;
        background-image: url("../../assets/images/patterns/bg-vector3.svg");
        background-size: cover;
        background-position: right;
    }
    .bg-vector4 {
        background-color: #98d8c9;
        background-image: url("../../assets/images/patterns/bg-vector4.svg");
        background-attachment: fixed;
        background-size: cover;
    }
    .bg-vector5 {
        background-image: url("../../assets/images/patterns/bg-vector5.svg");
    }
    .bg-pattern1 {
        background-image: url("../../assets/images/bg1.jpg");
        background-size: contain;
    }
    .bg-pattern2 {
        background-size: cover;
        background-image: url("../../assets/images/bg2.jpg");
    }
    .bg-pattern3 {
        background-size: contain;
        background-image: url("../../assets/images/bg3.jpg");
    }


    /* 
        Mengatur iframe agar max widthnya 100%, sehingga dapat responsive 
    */
    iframe,
    object,
    embed {
        max-width: 100%;
    }

    .banner {
       border-bottom-left-radius: 50% 20%;
       border-bottom-right-radius: 50% 20%;
    }

    .no-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
    
    /*
        Email Input Footer
        -----------------------
    */
    /*
        Wrapper dari formnya agar dapat diberi style
    */
     .formemail {
         height: 50px;
         background-color: white;
         border-radius: 30px;
         padding: 10px;
         margin: 0 5%;
     }
     /*
        Menghilangkan style default dari form input
    */
     .email_input {
         color: white;
         border: 0;
         outline: 0;
         background: none;
         width: 0;
         caret-color: transparent;
         line-height: 30px;
         transition: width 0.4s linear;
     }
     .email_input {
         padding: 0 10px;
         width: 450px;
         caret-color: red;
         transition: width 0.4s linear;
     }

    /*
        Card Volunteers
        -----------------------
    */
     /*
        Mengganti bg color dan mengatur jarak padding
    */
     .card-vol {
         color: white;
         padding: 10px 0 10px 10px;
         border: none;
         background-color:#00af82;
     }
      /*
        Mengatur font size dari biodata
    */
     .desc-vol {
         font-size: 0.9em;
     }

     /*
        Buttons
        -----------------------
    */
     .btn-cust1 {
         color: white;
         background-image: linear-gradient(to right, #fda088, #fc9880, #fa8f77, #f98670, #f77d68);
         box-shadow: none;
         font-weight: 500;
         border-radius: 50px 50px 50px 50px;
         font-weight: bold;
         margin: 0 50px;
         font-size: 1em;
     }

     /*
        ALVIN
    */
